.ProgressionBar {
  background: rgb(17, 1, 1);
  width: 200px;
  height: 15px;
  border-radius: 50px;
}

.ProgressionBarFilled {
  background: rgb(255, 0, 0);
  height: 15px;
  z-index: 1;
  border-radius: 50px;
  transition: width 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
