@font-face {
  font-family: "TitleFont"; /*Can be any text*/
  src:
    local("Pixelify"),
    url("./data/fonts/Pixelify.ttf") format("truetype");
}

.AppContainer {
  background: radial-gradient(#885942, #6c3316);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "TitleFont";
  min-height: 100vh;
  width: 100vw;
  user-select: none;
}

.row {
  display: flex;
  margin: 0;
}
.LinksRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.AppContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}
.AppTitle {
  font-family: "TitleFont";
  font-size: 60px;
  margin-bottom: 0;
}

.Links {
  color: rgba(0, 0, 0, 0.671);
  margin: 0;
}

@media (width <= 768px) {
  .AppTitle {
    font-family: "TitleFont";
    font-size: 25px;
  }
  .AttributesContainer {
    width: 250px;
  }
  .ItemPanelContainer {
    scale: 0.7;
  }

  .AttributesContainer {
    margin-left: 0;
    align-self: center;
    scale: 0.7;
  }
  .AppContent {
    width: 100vw;
    height: 100%;
  }
  .LinksRow {
    flex-direction: column;
    padding: 10px;
  }
}
